<Project>
	<PropertyGroup>
		<TargetFramework>netstandard2.1</TargetFramework>
		<Nullable>enable</Nullable>
		<LangVersion>latest</LangVersion>
		<AllowUnsafeBlocks>true</AllowUnsafeBlocks>
		<Authors>Robin</Authors>

		<Configuration>Debug</Configuration>
		<DebugType>full</DebugType>
		<DebugSymbols>true</DebugSymbols>
		<Deterministic>true</Deterministic>
	</PropertyGroup>

	<PropertyGroup>
		<DllPath>/Users/robin/Library/Application Support/Steam/steamapps/common/Timberborn/Timberborn.app/Contents/Resources/Data/Managed</DllPath>
		<ModPath>/Users/robin/Documents/Timberborn/Mods</ModPath>
	</PropertyGroup>

	<ItemGroup>
		<PackageReference Include="BepInEx.AssemblyPublicizer.MSBuild" Version="0.4.2" PrivateAssets="all"/> 
	</ItemGroup>

	<ItemGroup>
		<Reference Include="$(ModPath)/Harmony_2.4.1/0Harmony.dll" Private="false"/>
		<Reference Include="$(DllPath)/Unity.*.dll" Publicize="true" Private="false"/>
		<Reference Include="$(DllPath)/UnityEngine.*.dll" Publicize="true" Private="false"/>
		<Reference Include="$(DllPath)/Timberborn.*.dll" Publicize="true" Private="false"/>
		<Reference Include="$(DllPath)/Bindito.*.dll" Publicize="true" Private="false"/>
		<Reference Include="$(DllPath)/Newtonsoft.Json.dll" Publicize="true" Private="false"/>
	</ItemGroup>

	<Target
		Name="Copy"
		AfterTargets="Build"
	>
		<MakeDir Directories="../build/$(Mod)"/>
		<Copy SourceFiles="manifest.json" DestinationFiles="../build/$(Mod)/manifest.json"/>
		<Copy SourceFiles="$(OutputPath)$(AssemblyName).dll" DestinationFiles="../build/$(Mod)/$(Mod).dll"/>
	</Target>

	<Target
		Name="Restart"
		AfterTargets="Copy"
	>
		<Exec Command="zsh ../t restart"/>
	</Target>
</Project>
